.todo {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 0.5rem;
}
.todoRow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.detail {
  padding-bottom: 10px;
}
.todoRow h2 {
  font-size: 25px;
}
.todoRow span {
  font-size: 12px;
  color: #999;
}

.btn,
.remove {
  color: #fff;
  transition: all 0.4s ease;
}
.btn {
  margin-right: 1rem;
  background-color: #3b82f6;
}
.remove {
  background-color: #f63b44;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid #3b82f6;
  color: #3b82f6;
}
.remove:hover {
  background-color: transparent;
  border: 2px solid #f63b44;
  color: #f63b44;
}
